.dashboard-actions {
    width: 90%;
    background-color: white;
    margin-top: 50px;
    border-radius: 10px;
    padding: 24px 40px;
    // implement light shadow lightgrey with
    border: 1px solid rgba(219, 219, 219, 0.393);

    box-sizing: border-box;
    .dashboard-actions-head {
        span {
            font-weight: 500;
            font-size: 1em;
            margin: 10px 0px;
        }

        p {
            font-weight: 300;
            font-size: 0.8em;
            margin: 10px 0px;
        }

        .dashboard-action-btn {
            background-color: #4f46e5;
            padding: 9px 20px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            color: #ffffff;
            font-weight: 600;
            font-size: 0.875rem;
            margin: 10px 0px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: #4338ca;
                box-shadow: 0 4px 6px -1px rgba(79, 70, 229, 0.2);
            }
            &:visited {
                color: #ffffff;
            }
        }
    }
    .dashboard-action-stats {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .dashboard-action-stats-item {
            display: flex;
            border: 1px solid rgba(219, 219, 219, 0.393);
            box-sizing: border-box;
            padding: 5px;
            border-radius: 5px;

            .dashboard-action-stats-item-icon {
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;

                .dashboard-action-stats-item-icon {
                    width: 40px;
                    height: 40px;
                    filter: invert(0.5) sepia(0.5) saturate(0.5) hue-rotate(0deg);
                }
            }

            .dashboard-action-stats-item-text {
                .dashboard-stats-loading {
                    // make sure the icon is rotating
                    animation: spin 0.4s linear infinite;
                    width: 20px;
                    @keyframes spin {
                        0% {
                            transform: rotate(0deg);
                        }
                        100% {
                            transform: rotate(360deg);
                        }
                    }
                }
                width: 70%;

                span {
                    font-weight: 500;
                    font-size: 0.8em;
                    margin: 0px 0px;
                }

                p {
                    font-weight: 500;
                    font-size: 2em;
                    margin: 0px 0px;
                }
            }
        }
    }
}
